.secHeader-mainContainer {
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 5rem;
}

.secHeader-leftSide li {
  color: rgba(88, 89, 91, 1);
  font-size: 16px;
}
.secHeader-rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.secHeader-rightSide img {
  width: 37px;
  height: 62px;
  padding: 5px;
  cursor: pointer;
}
